
 <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="{{prefix}}_{{key}}_level" value="{{key}}_province"
        checked>
    <label class="form-check-label">Provinces</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="{{prefix}}_{{key}}_level" value="{{key}}_admiralty">
    <label class="form-check-label">Amirautés</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="{{prefix}}_{{key}}_level" value="{{key}}">
    <label class="form-check-label">Ports</label>
</div>