<button class="btn btn-outline-primary btn-sm" type="button" id="selection-apply-filters">
    Appliquer les filtres
   </button>
<button class="btn btn-outline-danger btn-sm" type="button" id="clear-all-filters">
    Supprimer tous les filtres
</button>
<hr>
<h5>Incertitude</h5>
<div class="form-check">
    <input class="form-check-input" type="checkbox"  name="uncertainity_level" value="0" checked>
    <label class="form-check-label">
      0
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox"  name="uncertainity_level" value="-1" checked>
    <label class="form-check-label">
      -1
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox"  name="uncertainity_level" value="-2" checked>
    <label class="form-check-label">
      -2
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox"  name="uncertainity_level" value="-3" checked>
    <label class="form-check-label">
      -3
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox"  name="uncertainity_level" value="-4" checked>
    <label class="form-check-label">
      -4
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox"  name="uncertainity_level" value="-5" checked>
    <label class="form-check-label">
      -5
    </label>
  </div>
<hr>
<h5>Provinces-Amirautés-Ports de départ</h5>
<div id="departure-treelist"></div>
<hr>
<h5>Provinces-Amirautés-Ports de destination</h5>
<div id="destination-treelist"></div>