{% extends "base.html" %}
{% block content %}
 <!-- filters sidebar-->
<div class="col-sm-3 col-auto collapse collapse-horizontal overflow-hidden" id="sidebar">
    <div id="sidebar-menu">
    {% include 'includes/filters-sidebar.html' %}
    </div>
</div>
  <!--end filters sidebar-->
<main class="col-sm col border-start ps-md-2 pt-2">
    <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="fa fa-navicon fa-lg py-2 p-1"></i> Filtres</a>
<div class="row">
        <!--collapse sections -->
        <div class="row">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-datagrid"
                aria-expanded="false" aria-controls="collapse-datagrid">Voir les données</button>
            <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-validated-filters" aria-expanded="false"
                aria-controls="collapse-datagrid">Voir les filtres appliqués</button>
        </div>
        <div class="row collapse" id="collapse-datagrid">
            <div id="dataGrid"></div>
        </div>
        <div class="row collapse" id="collapse-validated-filters">
            <p>
                <bold>Ports de départ</bold> : <span id="returned-dep"></span>
            </p>
            <p>
                <bold>Ports de destination</bold> : <span id="returned-dest">
            </p>
            <p>
                <bold>Degré d'incertitude</bold> : <span id="returned-uncertainity"></span>
            </p>
        </div>
        <!--end collapse sections -->

        <!-- departure charts -->
        <div>
            <h4>Départs</h4> <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-departure-charts" aria-expanded="false"
                aria-controls="collapse-departure-charts">Afficher/masquer cette section</button>
        </div>
            {% with key="departure", label="départ" %}
            {% include 'includes/departure-destination-charts.html' %}
            {% endwith %}
        <!-- end departure charts -->

        <!-- destination charts -->
        <div>
            <h4>Destinations</h4> <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-destination-charts" aria-expanded="false"
                aria-controls="collapse-destination-charts">Afficher/masquer cette section</button>
        </div>
            {% with key="destination", label="destination" %}
            {% include 'includes/departure-destination-charts.html' %}
            {% endwith %}
        <!-- end destination charts -->

        <!-- gauges & dependency wheel-->
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Statistiques</h5>
                    </div>
                    <div class="card-body">
                        <div id="highcharts-gauge" style="height:500px;max-width:100%;margin: 0 auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Connections entre provinces</h5>
                        <div class="row">
                            <div class="col-md-6">
                              <h6>Départs</h6>
                              {% with key="departure", prefix="sankey" %}
                                {% include 'includes/radio-buttons-inline.html' %}
                            {% endwith %}
                            </div>
                            <div class="col-md-6">
                                <h6>Destinations</h6>
                                {% with key="destination", prefix="sankey" %}
                                  {% include 'includes/radio-buttons-inline.html' %}
                              {% endwith %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="highcharts-sankey-departure-destination"
                            style="height:500px;max-width:100%;margin: 0 auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end gauge & dependency wheel-->

        <!-- products streamchart-->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Produits transportés</h5>
                </div>
                <div class="card-body">
                    <div id="highcharts-streamgraph-products" style="height: 400px;max-width: 100%;margin: 0 auto;">
                    </div>
                </div>
            </div>
        </div>
        <!-- product streamchart-->
</div>
</main>
{% endblock %}